 body {
       background-image: url("images/33.jpg");
       background-size: cover;
       height: 100%;
     }
     
     #main {
       width: 100%;
       position: relative;
     }
     
     #title {
       color: #5b313a;
       position: relative;
       left: 0px;
       font-size: 60px;
       font-family: sanser;
       font-weight: solid;
       /*text-shadow:0 3px #fff ;*/
       margin: auto;
       margin-top: 25px;
     }
     
     #wrapper {
       width: 100%;
       padding-bottom: 20px;
       height: 550px;
       overflow: hidden;
       border-radius: 15px;
       padding-top: 10px;
     }
     
       
     #game {
       padding-left: 5px;
       padding-top: 5px;
       width: 450px;
       height: 450px;
       display: inline-block;
       float: left;
       border:7px solid #5b313a;
       border-radius: 5px; 
     }
#sub-image{
  width:200px;
  height:200px;
	background-color: red;
}
.float{
  float:left;
  display:inline-block;
  margin:10px;
}
     footer {
       width: 555px;
       margin: auto;
       clear: both;
       float: left;
     }
     
     footer h2 {
       display: inline-block;
       margin-left: 10%;
       text-align: center;
     }
     
     h2.text-info,
     span.text-info {
       color: #5b313a;
     }
     
     .img {
       width:32%;
       height: 32%;
       display: inline-block;
       margin-bottom: 5px;
       
     }
     
     input.btn,
     input.btn:hover,
     input.btn:active {
       background-color: #5b313a;
       border-color: #5b313a;
       margin:0;
     }
    #btn
    {
      margin-left:23%; 
      padding:20px; 
      font-size:75;
    }
#sub-image img{
  border:7px solid #5b313a;
  border-radius: 5px;
}